* {
    margin: 0;
    padding: 0;
}

.productCounter {
    height: 7vh;
    width: 30vh;
    background-color: #FCB580;
    border-radius: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.productCounterCount {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vh;
    color: #141D98;
}

.productCounterButton {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 4vh;
    width: 4vh;
    background-color: #141D98;
    border: none;
    color: #12B5E3;
    font-size: 3vh;
    border-radius: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.1vh;
}

.productCounterButton:hover {
    background-color: #EDCCFF;
    color: #141D98;
    box-shadow: 7px 7px 10px 2px rgba(0,0,100,.25);
    transition: all 2s;
}

.productCounterButton:not(:hover) {
    background-color: #141D98;
    color: #12B5E3;
    transition: all 2s;
}

.addToCartButton {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FCB580;
    border: none;
    color: #141D98;
    font-size: 3vh;
    border-radius: 8vh;
    text-decoration: none;
    padding: 1.5vh;
    margin: 3vh;
  }
  
  .addToCartButton:hover {
    background-color: #EDCCFF;
    box-shadow: 10px 10px 15px 2px rgba(0,0,100,.25);
    transition: all 2s;
  }
  
  .addToCartButton:not(:hover) {
    background-color: #FCB580;
    transition: all 2s;
  }