* {
    margin: 0;
    padding: 0;
}

.itemDetailContainer {
    background-color: #FCB580;
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}