.mercadoLibreItemListContainer {
    height: 40vh;
    width: 70vw;
    background-color: #12B5E3;
    border-radius: 10vh;
    margin: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mercadoLibreItemListContainerTitulo {
    color: #141D98;
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 5vh;
}