* {
    margin: 0;
    padding: 0;
}

.itemCard {
    height: 50vh;
    width: 20vw;
    background-color: #141D98;
    border-radius: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3vh;
}

.itemCardPadding {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.itemCard:hover {
    transform: translateY(-5%);
    box-shadow: 10px 10px 15px 2px rgba(0,0,100,.25);
    transition: all 1s;
}

.itemCard:not(:hover) {
    transform: translateY(5%); 
    box-shadow: none;
    transition: all 1s;
}

.itemCardName {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #EDCCFF;
    text-align: center;
}

.itemImage {
    height: 25vh;
}

.itemImage:hover {
    transform: rotate(180deg);
    transition: all 4s;
}

.itemImage:not(:hover) {
    transform: rotate(0deg);
    transition: all 4s;
}

.itemPrice {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    color: #EDCCFF;
    text-align: center;
}

.itemButton {
    height: 5vh;
    padding: 1vh;
    background-color: #EDCCFF;
    border: none;
    color: #141D98;
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    border-radius: 8vh;
    margin-top: 2vh;
    margin-left: 3.75vh;
}

.itemButton:hover {
    background-color: #FCB580;
    color: #141D98;
    box-shadow: 10px 10px 15px 2px rgba(0,0,0,.2);
    transition: all 2s;
}

.itemButton:not(:hover) {
    background-color: #EDCCFF;
    color: #141D98;
    transition: all 2s;
}