* {
    margin: 0;
    padding: 0;
}

.itemCard {
    height: 50vh;
    width: 50vh;
    background-color: #141D98;
    border-radius: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.itemCardName {
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #EDCCFF;
}

.itemImage {
    height: 25vh;
}

.itemImage:hover {
    transform: rotate(180deg);
    transition: all 4s;
}

.itemImage:not(:hover) {
    transform: rotate(0deg);
    transition: all 4s;
}

.itemPrice {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    color: #EDCCFF;
}

.itemButton {
    height: 5vh;
    width: 5vh;
    background-color: #EDCCFF;
    border: none;
    color: #141D98;
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    border-radius: 8vh;
}

.itemButton:hover {
    background-color: #12B5E3;
    color: #FCB580;
    transition: all 2s;
}

.itemButton:not(:hover) {
    background-color: #EDCCFF;
    color: #141D98;
    transition: all 2s;
}