* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.navBar {
    background-color: #EDCCFF;
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 2;
    box-shadow: 15px 15px 30px 2px rgba(0,0,0,.25);
}

.logoMenu {
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.logoMenuBrandName {
    color: #141D98;
    font-size: 5vh;
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.menuItem {
    color: #141D98;
    font-size: 3vh;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    max-width: 20vh;
}

.logoMenuBrandName:hover {
    color: #BF9C80;
    transition: all 2s;
}

.logoMenuBrandName:not(:hover) {
    color: #141D98;
    transition: all 2s;
}

.menuItem:hover {
    color: #BF9C80;
    transition: all 2s;
}

.menuItem:not(:hover) {
    color: #141D98;
    transition: all 2s;
}

.logoMenuImg {
    height: 9vh;
    padding-bottom: 1vh;
}

.imageOne {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.imageTwo {
    height: 10vh;
    position: absolute;
    top: 0;
    left: -4px;
    z-index: 2;
}

.imageTwo:hover {
    opacity: 0;
    transition: opacity 0.1s;
}

.imageTwo:not(:hover) {
    opacity: 100;
    transition: opacity 0.1s;
}