.cartRow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 5vh;
}

.cartRowCategories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.cartRowValues {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cartValueContainer {
    width: 20%;
}

.cartRowRuler {
    max-width: 70vw;
    min-width: 70vw;
    border: 3px solid #141D98;
    margin: 1vw;
}

.cartText {
    text-align: center;
} 

.subtitle {
    color: #141D98;
    font-size: 2.5vh;
    font-family: piepie, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.value {
    color: #141D98;
    font-size: 2.5vh;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cartRowButton {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 5vh;
    width: 5vh;
    background-color: #141D98;
    border: none;
    color: #EDCCFF;
    font-size: 3vh;
    border-radius: 8vh;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    margin-left: 15vh;
}

.cartRowButton:hover {
    background-color: #12B5E3;
    color: #141D98;
    box-shadow: 7px 7px 10px 2px rgba(0,0,100,.25);
    transition: all 2s;
}

.cartRowButton:not(:hover) {
    background-color: #141D98;
    color: #EDCCFF;
    transition: all 2s;
}